.menu {
  width: 356px;
  height: 148px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  margin: 10px 10px 10px 10px;
}

.image {
  border-radius: 10px;
}

.data {
  margin: 10px;
}

.name {
  font-weight: bold;
}

.hr {
  border-top: 1px solid #c0c0c0;
}

.dates {
  font-weight: bold;
  font-size: 8px;
  color: #c0c0c0;
}
